@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/fontawesome";
@import "~@fortawesome/fontawesome-free/css/regular";
@import "~@fortawesome/fontawesome-free/css/solid";
@import "~@fortawesome/fontawesome-free/css/brands";


*::selection{
    background-color: rgb(4, 0, 66);
    color: white;
  }
html{
    background-color: rgb(11, 11, 11);
    /* overflow-y:scroll; */

}
img{
  user-select: none;
}

  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    min-height: 100vh;
    background-color: #111827;
 

  }

#img-output {
    margin-left: 20px;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    border: 1px solid #ccc;
    background-color: #ccc;
}

    [x-cloak] { 
        display: none
     }

.banner{
  z-index: 10;
  position: fixed;
  background-size: cover;
  top: 0;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 195px;
  display: block;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid rgb(17, 24, 39);
}

.header {
  text-align: center;
}

.topnav {
  z-index: 10;
  position: fixed;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 195px;
  overflow: hidden;
  background-color: #333;
}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  height:100vh;
  min-height: 100vh;
}

/* Left and right column */
.column.sideL {
  width: 20%;
}
.left{
  position: fixed;
  top: 250px;
}
.column.sideR {
  width: 20%;
  display: block;

}

.right{
  position: fixed;
  top: 250px;
}

/* Middle column */
.column.middle {
  margin-top: 242px;
  width: 60%;

}

/* Responsive layout______________________________________________________________________________*/
@media screen and (max-width: 600px) {
  .banner{
    height: 95px;
  }

  .topnav {
    top: 95px;
  }

  .left{
    position: relative;
  }

  .right{
    position: relative;
  }
  .column.sideL, .column.sideR, .column.middle {
    width: 100%;
    height: 100%;
  }
  .column.sideL {
   height: auto;
  }
  .column.sideR {
    display: none;
    height: auto;

   }
}

/* CRUD_________________________________________________________________________________________________________ */
td, th {
  padding: 5px;
}

th {
  cursor: pointer;
}