@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/fontawesome";
@import "~@fortawesome/fontawesome-free/css/regular";
@import "~@fortawesome/fontawesome-free/css/solid";
@import "~@fortawesome/fontawesome-free/css/brands";


*::selection{
    background-color: rgb(4, 0, 66);
    color: white;
  }
html{
    background-color: rgb(11, 11, 11);
}
img{
  user-select: none;
}

  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

#img-output {
    margin-left: 20px;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    border: 1px solid #ccc;
    background-color: #ccc;
}

    [x-cloak] { 
        display: none
     }

.banner{
  z-index: 10;
  position: sticky;
  background-size: cover;
  top: 0;
  left: 0;
  height: 195px;
  display: block;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid rgb(17, 24, 39);
}

.header {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  background-color: rgb(17, 24, 39);
}

/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}